body {
    background: var(--blue);
    font-family: 'Poppins',sans-serif;
}
.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-rediments {
    background: var(--white) ;
    width: 600px;
    height: 200px;
}
:root {
    --blue: #3F72AF;
    --white: #FFFFFF;
    --black: #000000;
}